{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login:</h1>
    {% if form.errors %}
        <p>
            Failed to login. Please try again.
        </p>
    {% else %}
        <p>Please, use the following form to login. </p>
        <p>If you don't have an account you can register <a href="{% url 'account:register' %}">here</a></p>
    {% endif %}

    <div class="login-form">
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="text" value="{{ next }}">
            <p><input type="submit" value="Login"></p>
        </form>
    </div>

{% endblock %}