{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock title %}

{% block content %}
    <h1>Change your password:</h1>
    {% if form.errors %}
        <p>
            Failed to login. Please try again.
        </p>
    {% else %}
        <p>Please use the form below to change your password</p>
    {% endif %}

    <form action="." method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Change"></p>
    </form>
{% endblock %}