{% extends "base.html" %}
{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                    {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.username }}
                        {% if user.get_full_name %}
                            <p>({{ user.get_full_name }})</p>
                        {% endif %}
                    </a>
                    <p>List of users posts:</p>
                    {% for post in user.blog_posts.all %}
                        <div id="post-list" class="post-container">
                            <a href="{{ post.get_absolute_url }}">
                                {{ post.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}