{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    {% with total_likes=post.users_like.count users_like=post.users_like.all %}
        <div class="post-info">
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    like{{ total_likes|pluralize }}
                </span>
                <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    {% if request.user not in users_like %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="post-likes">
            <h2>People who liked this post:</h2>
            {% for user in post.users_like.all %}
                <div>
                    <a href="{{ user.get_absolute_url }}">
                        {% if user.profile.photo %}
                            <img src="{{ user.profile.photo.url }}">
                        {% endif %}
                        {% if user.get_full_name %}
                            <p>({{ user.get_full_name }})</p>
                        {% else %}
                            <p>{{ user.username }}</p>
                        {% endif %}
                    </a>
                </div>
            {% empty %}
                <div>
                    This post has no likes yet.
                </div>
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post("{% url 'posts:post_like' %}",
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if(data['status'] == 'ok')
                {
                    var previous_action = $('a.like').data('action');

                $('a.like').data('action', previous_action == 'like' ?
    'unlike' : 'like');
                $('a.like').text(previous_action == 'like' ? 'Unlike' :
    'Like');
                var previous_likes = parseInt($('span.count .total').text());
                $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1)
                }
            }
        );
    });
{% endblock domready %}